<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="assets\employee_favicon.png" sizes="32x32">
  <link rel="stylesheet" href="css/style.css">
  <meta name="Author" content="Ryan Scarbel">
  <title>Add Employee</title>
</head>
<body>
    <h1>Add Employees</h1>
    <nav>
      <a href="/logout">Logout</a>
    </nav>
    <form class="shadow" action="/addEmployee" method="POST" autocomplete="off">
        <label>First Name:
            <input type="text" name="firstName" required>
        </label>
        <label>Last Name:
            <input type="text" name="lastName" required>
        </label>
        <label>Email:
          <input type="email" name="email" required>
      </label>
      <label>Availability:
        <div class="flex-column">
        <label> Monday:
          <input type='hidden' value='false' name='availability.monday'>
          <input type="checkbox" value="true" name="availability.monday">
        </label>
        <label> Tuesday:
          <input type='hidden' value='false' name='availability.tuesday'>
          <input type="checkbox" value="true" name="availability.tuesday">
        </label>
        <label> Wednesday:
          <input type='hidden' value='false' name='availability.wednesday'>
          <input type="checkbox" value="true" name="availability.wednesday">
        </label>
        <label> Thursday:
          <input type='hidden' value='false' name='availability.thursday'>
          <input type="checkbox" value="true" name="availability.thursday">
        </label>
        <label> Friday:
          <input type='hidden' value='false' name='availability.friday'>
          <input type="checkbox" value="true" name="availability.friday">
        </label>
        <label> Saturday:
          <input type='hidden' value='false' name='availability.saturday'>
          <input type="checkbox" value="true" name="availability.saturday">
        </label>
        <label> Sunday:
          <input type='hidden' value='false' name='availability.sunday'>
          <input type="checkbox" value="true" name="availability.sunday">
        </label>
      </div>
    </label>
        <button class="shadow">Add Employee</button>
    </form>
    <a href="/schedule"><button>Back to Home</button></a>
</body>
</html>