<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="assets\employee_favicon.png" sizes="32x32">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/forgotPassword.js" defer></script>
  <meta name="Author" content="Ryan Scarbel">
  <style>body{background-color:rgb(239, 243, 255);}</style>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>

  <p>Please enter your username and password to login,<br />or <a href="/signup">sign up</a> to create an account.</p>
  <form class="shadow" action="/login" method="POST" autocomplete="off">
    <% if(error) { %>
      <p style="color: red;"><%= error %></p>
  <% } %>
      <label>Username:
          <input type="text" name="username" required>
      </label>
      <label>Password:
          <input type="password" name="password" required>
      </label>
      <button class="shadow">Login</button>
      <p class="forgot-password">Forgot Password?</p>
  </form>
</body>
</html>