<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="assets\employee_favicon.png" sizes="32x32">
  <link rel="stylesheet" href="css/style.css">
  <meta name="Author" content="Ryan Scarbel">
  <title>Schedule</title>
</head>
<body>
  <% if(user ) { %>

      <h1>Home Page</h1>
      <nav>
        <a href="/logout">Logout</a>
      </nav>

  <% } else { %>

      <nav>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </nav>

  <% } %>
</body>
</html>