@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  background-color:rgb(239, 243, 255);
}

input[type=text], input[type=email], input[type=password] {
  font-family: 'Montserrat', sans-serif;
  padding: 0.3em 0.7em;
  border-radius: 0.7em;
}

button {
  padding: 0.5em 3em;
  border-radius: 10px;
  width: fit-content;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 45%), 0 2px 6px 0 rgb(0 0 0 / 45%);
}
button:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

form {
  background-color: rgb(206, 219, 255);
  padding: 2em;
  border-radius: 15px;
  margin: 2em auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

form > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
form > label > input {
  margin-left: 2em;
  color: rgb(0,0,0)
}

form > button {
  align-self: center;
  background-color: rgb(255, 115, 0);
  color: rgb(255,255,255);
}

form > button:hover {
  cursor: pointer;
  background-color: rgb(255, 136, 0);
}

.delete {
  background-color: rgb(255, 185, 185);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 1em;
  padding: 0.6em;
}

.delete:hover {
  background-color: rgb(255, 83, 83);
  color: white;
  cursor: pointer;
}

table {
  border-radius: 8px;
  margin: 1.5em 0;
}

td,th {
  padding: 1em;
  overflow-x:auto;
}

tr:nth-child(odd) {
  background-color: rgb(239, 241, 255);
}
tr:first-child {
  border-radius: 8px 8px 0 0;
}
th:first-child {
  border-radius: 8px 0 0 0;
}
th:last-child {
  border-radius: 0 8px 0 0;
}
tr:last-child > td:first-child {
  border-radius: 0 0 0 8px;
}
tr:last-child > td:last-child {
  border-radius: 0 0 8px 0;
}

.edit {
  background-color: hsl(120, 100%, 86%);
  margin: 0 1em;
  padding: 0.5em 1.5em;
}

.edit:hover {
  background-color: rgb(0, 202, 50);
  color: white;
  cursor: pointer;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 45%), 0 6px 20px 0 rgb(0 0 0 / 45%);
}
.small-shadow {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 45%), 0 3px 10px 0 rgb(0 0 0 / 45%);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.schedule-unit {
  min-height: 2.5em;
  width:100%;
  border-radius: 0.2em;
  margin: 0.2em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: anywhere;
  cursor: default;
}
.schedule-unit {
  cursor: default;
}
.schedule-cell-container {
  vertical-align: top;
  padding: 0.1em;
  border: 1px solid rgb(50,50,50);
  height: 3em;
  width: 14vw;
}

.schedule-unit:nth-child(4n) {
  background-color: rgb(210, 211, 255);
}
.schedule-unit:nth-child(4n):hover {
  background-color: rgb(194, 195, 255);
}
.schedule-unit:nth-child(4n+1) {
  background-color: rgb(255, 210, 255);
}
.schedule-unit:nth-child(4n+1):hover {
  background-color: rgb(255, 192, 255);
}
.schedule-unit:nth-child(4n+2) {
  background-color: rgb(255, 252, 210);
}
.schedule-unit:nth-child(4n+2):hover {
  background-color: rgb(255, 247, 139);
}
.schedule-unit:nth-child(4n+3) {
  background-color: rgb(212, 255, 210);
}
.schedule-unit:nth-child(4n+3):hover {
  background-color: rgb(181, 255, 177);
}
.forgot-password {
  color:blue;
  text-align: center;
  font-weight: 700;
  font-size:0.7em;
  margin-top: 1.2em;
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
  cursor:pointer;
}

@media only screen and (max-width: 768px) {
  .image-column {
    display: none;
  }
}