@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 768px;
}

input[type=text], input[type=email], input[type=password] {
  font-family: 'Montserrat', sans-serif;
  padding: 0.3em 0.7em;
  border-radius: 0.7em;
}

button {
  padding: 0.5em 3em;
  border-radius: 10px;
  width: fit-content;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 45%), 0 2px 6px 0 rgb(0 0 0 / 45%);
}

form {
  background-color: rgb(206, 219, 255);
  padding: 2em;
  border-radius: 15px;
  margin: 2em auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

form > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
form > label > input {
  margin-left: 2em;
  color: rgb(0,0,0)
}

form > button {
  align-self: center;
  background-color: rgb(255, 115, 0);
  color: rgb(255,255,255);
}

form > button:hover {
  cursor: pointer;
  background-color: rgb(255, 136, 0);
}

.shadow {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 45%), 0 6px 20px 0 rgb(0 0 0 / 45%);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* @media only screen and (min-width: 768px) {

} */